<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu side="start"  class="my-custom-menu">
    <ion-content>
      <ion-list>
     <img class="logo" src="assets/images/Logo.svg">
        <ion-item text-center class="text-menu" routerLink="/home" id="MP" ><ion-label>Centros de Atención</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/Tips"><ion-label>Tips</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/blog" id="M1"><ion-label>Blog</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/galeria"><ion-label>Galeria</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/login"><ion-label>Salir</ion-label></ion-item>
        <ion-item class="iconos-redes" offset="1" >
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-item>
          <ion-item offset="1" >
          <img class="icono" src="assets/icon/usa.svg">
          <img class="icono" src="assets/icon/mexico.svg">
        </ion-item>
        </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titulo-home">Blog</ion-title>
      </ion-toolbar>
    </ion-header>
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list  *ngFor="let nota of Notas" class="user-list">
      <ion-item>  
        <ion-avatar slot="start">
          <img  class="logo-blog" src="assets/images/Logo.svg">
        </ion-avatar>
        <ion-label>
          <h2 class="etiquetas">{{nota.nombre}}</h2>
        <!--<h3 class="etiquetas">{{nota.telefono}}</h3>-->
        <!--  <h3 class="etiquetas">{{nota.email}}</h3> -->
        <br>
          <p class="etiqueta-texto">{{nota.descripcion}}</p>
        </ion-label>
       
    </ion-item>  
    </ion-list >
  </ion-list>
</ion-content>

  </div>
</ion-app>