.my-custom-menu {
    --width: 32rem;
  }
  .title-menu{
    text-align: center;
    margin-right: 5rem;
    font-size: x-large;
  }
  ion-toolbar{
    --ion-background-color:#00C3A0;
    color: white;
    font-family: "Rancho", cursive !important;    
}
.sc-ion-buttons-md-s .button {
    --background-hover: rgba(66,66,66,0.08);
    font-size: xx-large;
}
  .titulo-home{
    display: inline-block;
    font-size: 28px;
    margin-left: 1em;
 
  }
  #logo-home{
    text-align: right;
    font-size: 2em;
    color: white; 
    margin-left: 3rem;
  }
  
ion-content{
    --ion-background-color:#00C3A0;
    #mapa-mapbox { 
        position: absolute;
        top: 0.2rem;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    
    }
    #marker {
        background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        }
.mapboxgl-popup {
    max-width: 200px;
    }
      }

ion-item{
    position: relative;
    border-bottom: none !important;
    top: -32rem;
}
.text-menu{
    color: white;
    font-family: "Rancho", cursive !important;
    font-size: 28px;
    margin-right: auto;
    margin-left: -6rem;
}
#M1{
    border-bottom: 3px solid white !important;
    display: block;
}
  .logo{
    --ion-background-color: #00C3A0;
    display: block;
    position: relative;
    top: -9rem;
    margin: 2rem;
}  
ion-icon{
    text-align: center;
    font-size: 2em;
    margin-right: -7rem;
    color: white;
    margin-left: 8rem;
}
.icono {
    text-align: center;
    margin-left: 9rem;
    margin-right: -8rem;
}
//Responsive

@media only screen and (max-width:320px){
    .logo{
        --ion-background-color: #00C3A0;
        display: block;
        position: relative;
        top: -7rem;
        margin-top: 3rem;
        margin-bottom: 6rem;
        left: -2rem;
    }
    .text-menu{
        color: white;
        font-family: "Rancho", cursive !important;
        font-size: 1rem;
        margin-right: auto;
        margin-left: -1rem;
    }
    ion-icon{
        text-align: center;
        font-size: 2em;
        margin-right: -2rem;
        color: white;
        margin-left: 3rem;
    }
    .icono{
        text-align: center;
    margin-left: 4rem;
    margin-right: -3rem;
    }
}
    @media only screen and (max-width:360px){
        .logo{
       
            left: -1rem;
        }
        
        
    }
