
<ion-content padding>
  <ion-grid class="mt-home" fixed>
    <ion-row>
      <ion-col offset="1" size="10">
  <img class="logo" src="assets/images/Logo.svg">
</ion-col>
<ion-col offset="1" size="10">
  <ion-item class="borde">
  <ion-label position="floating" class="txt-input">Correo Electronico</ion-label>
  <ion-input type="text" [(ngModel)]="user.email" class="txt-input" ></ion-input>
</ion-item> 
</ion-col>
<ion-col offset="1" size="10">
<ion-item class="borde">
  <ion-label position="floating" class="txt-input">Contraseña</ion-label>
  <ion-input type="password" [(ngModel)]="user.password" class="txt-input" ></ion-input>
</ion-item> 
</ion-col>


<ion-col offset="1" size="10">
  <ion-button color="light" expand="block" size="large" class="botones" (click)="onRegister()"><ion-text color="secondary">
    <h3>Registrate</h3>
  </ion-text>
</ion-button>
<ion-col offset="1" >
<ion-icon name="logo-facebook"></ion-icon>
</ion-col>
<ion-col offset="1" >
  <ion-icon name="logo-instagram"></ion-icon>
  </ion-col>
  <ion-col offset="1" >
    <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-col>
<ion-col>
  <ion-text color="light"  offset="1" class="text-login" >
    <h4 routerLink="/login"> Inicia Sesión.</h4>
  </ion-text>
</ion-col>
<ion-col>
  <ion-text color="light"  offset="1" class="text-login" >
    <h4>Olvidaste tu contraseña?</h4>
  </ion-text>
</ion-col>
    
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
